<h1>Weather Dashboard</h1>
<form [formGroup]="form">
  <input type="text" formControlName="city" placeholder="City">
  <button (click)="toggleShowLoadingState()">Show loading state</button>
</form>
@if (error()) {
  <p class="error">{{ error() }}</p>
}
@if (isLoading() || showLoadingState) {
  <div class="loader"></div>
}
@if (weather()) {
  <div class="weather">
    <div class="labels">
      <p>City:</p>
      <p>Weather Conditions:</p>
      <p>Temperature:</p>
      <p>Humidity:</p>
      <p>Wind Speed:</p>
    </div>
    <div class="data">
      <p>{{ weather()?.city }}</p>
      <p>{{ weatherCodeDescription() }}</p>
      <p>{{ weather()?.temperature }} {{ weather()?.temperatureUnit }}</p>
      <p>{{ weather()?.humidity }} {{ weather()?.humidityUnit }}</p>
      <p>{{ weather()?.windSpeed }} {{ weather()?.windSpeedUnit }}</p>
    </div>
  </div>
}
